
.Node.Device {
  .connection-indicator {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: solid 2px black;
    background-color: red;
    border-radius: 12px;
    vertical-align: middle;
    margin-left: 8px;
  }

  &.connected {
    .connection-indicator {
      background-color: greenyellow;
    }
  }
}
