
.Layout.Split {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  .dragger {
    position: absolute;
    background-color: black;
    width: 8px;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    border: solid white;
    border-width: 0 3px;
  }

  .container {
    &.left {
      overflow: auto;
    }
    &.right {
      overflow-y: auto;
      flex: 1;
    }
  }
}
