
.Progress {
  display: inline-block;
  height: 12px;
  line-height: 16px;
  border: solid black;
  border-width: 2px 1px;
  width: 50px;
  text-align: center;
  font-size: 12px;
  position: relative;

  .filler {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    background-color: black;

    .tick {
      box-sizing: border-box;
      display: inline-block;
      width: 10%;
      height: 100%;
      border: solid black;
      border-width: 0 0.5px;
    }
  }

  &.low {
    .filler {
      .tick {
        background-color: lightgreen;
      }
    }
  }
  &.medium {
    .filler {
      .tick {
        background-color: yellow;
      }
    }
  }
  &.high {
    .filler {
      .tick {
        background-color: red;
      }
    }
  }
}
