
.Progress {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  border: solid gray 1px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  position: relative;

  .filler {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &.low {
    .filler {
      background-color: lightgreen;
    }
  }
  &.medium {
    .filler {
      background-color: yellow;
    }
  }
  &.high {
    .filler {
      background-color: red;
    }
  }
}
