
.TreeView {
  $color-selected: blueviolet;
  $color-highlight: transparentize(blue, 0.95);

  list-style: none;
  font-family: monospace;

  >.node-container {
    cursor: default;
    line-height: 24px;

    .Node {
      padding-left: 8px;
      padding-right: 8px;
      border: solid 1px transparent;

      &:hover {
        background-color: $color-highlight;
      }
    }

    >i.icon {
      font-size: 16px;
      vertical-align: middle;
      margin-right: 8px;
      margin-left: -7px;
      font-weight: bold;
    }

    &:hover {
      >i.icon {
        color: $color-selected;
      }
    }
  }

  .children {
    list-style: none;
    border-left: solid rgba(0, 0, 0, 0.2) 1px;
    margin: 0;
    padding-left: 40px;
  }

  &.expandable {
    >.node-container {
      cursor: pointer;
    }
  }

  &.highlighted {
    background-color: $color-highlight;
  }

  &.selected {
    >.node-container {
      .Node {
        border-color: $color-selected;
      }
    }

    >.children {
      border-color: transparentize($color-selected, 0.5);
    }
  }
}
