
.DetailView {
  padding: 24px;

  .Node {
    font-size: 24px;
    margin-bottom: 24px;
  }

  table {
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-collapse: collapse;

    th, td {
      padding: 4px 12px;
    }

    th {
      border-bottom: solid black 1px;
    }

    th:first-child {
      width: 256px;
    }
  }

  &.File {
    .md {
      pre {
        padding: 12px;
        background-color: transparentize(black, 0.1);
        color: greenyellow;
      }
    }
  }
}
