
@import "./assets/styles/index";

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: monospace;
}

body, #mount-point {
  height: 100%;
  padding: 0;
  margin: 0;
}

#mount-point {
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
