@font-face {
  font-family: 'icomoon';
  src:  url('assets/styles/fonts/icomoon.eot');
  src:  url('assets/styles/fonts/icomoon.eot') format('embedded-opentype'),
    url('assets/styles/fonts/icomoon.ttf') format('truetype'),
    url('assets/styles/fonts/icomoon.woff') format('woff'),
    url('assets/styles/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-printer:before {
  content: "\e954";
}
.ico-display:before {
  content: "\e956";
}
.ico-drive:before {
  content: "\e963";
}
.ico-database:before {
  content: "\e964";
}
.ico-file-empty:before {
  content: "\e924";
}
.ico-file-text:before {
  content: "\e926";
}
.ico-file-picture:before {
  content: "\e927";
}
.ico-folder-open:before {
  content: "\e930";
}
.ico-cheveron-down:before {
  content: "\e900";
}
.ico-cheveron-left:before {
  content: "\e901";
}
.ico-cheveron-right:before {
  content: "\e902";
}
.ico-cheveron-up:before {
  content: "\e903";
}
